Package: com.opa334.luisestorelite
Name: LuiseStore Lite
Version: 2.1.1
Architecture: iphoneos-arm
Description: LuiseStore for jailbroken iOS
Depends: ldid
Maintainer: opa334
Author: opa334
Section: Applications
