Package: vn.antiac01.luisestorelite
Name: LuiseStore Lite
Version: 2.1.2
Architecture: iphoneos-arm
Description: LuiseStore for jailbroken iOS
Depends: ldid
Maintainer: MrP(LuisePog)
Author: MrP(LuisePog)
Section: Applications
