Package: vn.antiac01.luisestorelite
Name: LuiseStore Lite (RootHide)
Version: 2.1.1
Architecture: iphoneos-arm
Description: LuiseStore for RootHide jailbroken iOS
Depends: ldid
Maintainer: MrP(LuisePog)
Author: MrP(LuisePog)
Section: Applications
