Package: vn.antiac01.luisestorehelper
Name: LuiseStore Helper
Version: 2.1.1
Architecture: iphoneos-arm
Description: Helper utility to install and manage LuiseStore!
Maintainer: opa334
Author: opa334
Section: Applications
