Package: vn.antiac01.luisestoreroothelper
Name: luisestoreroothelper
Version: 2.1.2
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: MrP(LuisePog)
Author: MrP(LuisePog)
Section: System
Tag: role::hacker
